<!doctype html>
<html class="no-js">
  <head>
    <title>Activities NOW</title>
    <meta charset="utf-8">
    <script src="scripts/libs/jquery-1.11.0.min.js"></script>
    <!-- <link rel="stylesheet" href="styles/jquery.mobile&#45;1.4.1.min.css" /> -->
    <link rel="stylesheet" href="jsstyle.css">
    <script src="scripts/libs/jquery.mobile-1.4.1.min.js"></script>
    <script src="node_modules/angular/lib/angular.min.js"></script>
    <!-- <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.2.13/angular.js"></script> -->
    <script src="node_modules/restangular/src/restangular.js"></script>
    <script src="node_modules/underscore/underscore-min.js"></script>


    <!-- // ================ Show "No Results" if search empty ============== -->
    <style>
      #no-results { display: none };
    </style>
    <script>
    $(document).ready(function() {
      var $listview = $('ul[data-role="listview"]');
      $('#activities-filter').keyup(function(){
        if ($listview.children(':visible').length === 0) {
          $('#no-results').fadeIn(500);
        } else {
          $('#no-results').fadeOut(250);
        }
      });
    });
    // $(document).delegate('[data-role="page"]', 'pageinit', function () {
    //   var $listview = $(this).find('[data-role="listview"]');
    //   $(this).delegate('input[data-type="search"]', 'keyup', function () {
    //     if ($listview.children(':visible').not('#no-results').length === 0) {
    //       $('#no-results').fadeIn(500);
    //     } else {
    //       $('#no-results').fadeOut(250);
    //     }
    //   });
// });
    </script>
    <!-- // ================ / Show "No Results" if search empty ============== -->
  </head>
  <body ng-app="activitiesNowApp">

<!-- *** WELCOME SCREEN ***************************************************** -->

  <div data-role="page" id="welcome" style="background:url(images/home.jpg); background-repeat:no-repeat;"> 
    <!-- CONTENT -->
      <div data-role="main" class="ui-content">
        <h3 style="font-family: 'HelveticaNeue-UltraLight', 'Helvetica Neue UltraLight', 'Helvetica Neue', Arial, Helvetica, sans-serif; 
  font-weight: 100; 
  letter-spacing: 1px;
  font-size: 45px;
  color:white;
  text-shadow: 2px 2px 6px #000000;
  text-align: center;
  ">Welcome To </h3>
        <h1 style="

  font-family: 'Helvetica', 'Helvetica Neue UltraLight', 'Helvetica Neue', Arial, Helvetica, sans-serif; 
  font-weight: 100; 
  letter-spacing: 1px;
  color:white; 
  text-shadow: 2px 2px 6px #000000;
  font-size: 50px;
  text-align: center;">ACTIVITIES NOW!</h1>
        <br><br><br><br><br>
        <a href="#home" data-role="button">Login</a>
      </div>

  </div>
<!-- *** / WELCOME SCREEN ***************************************************** -->


<!-- *** HOME SCREEN ***************************************************** -->
  <div data-role="page" id="home" ng-controller="HomeScreenController">

    <div data-role="content">
      <input id="activities-filter" ng-model="newActivityTitle" data-type="search" placeholder="what would you rather be doing?">
      <ul class="activities-list" data-role="listview" data-inset="true" data-filter="true" data-input="#activities-filter">
        <li ng-repeat="activity in activities"><a href="#details" ng-click="setMainActivity(activity.id)"><b>{{ activity.title }}</b> (3 friends interested)</a></li>
      </ul>
      <div id="no-results">No Results.</div>
    </div>

    <div data-role="footer">
      <!-- options -->
      <div data-role="navbar">
        <ul>
          <li style="width: 100%"><a href="#create" data-role="button" ng-click="sendBeacon(newActivityTitle)" style="margin: 10px">Send Beacon</a></li>
          <li style="width: 100%"><a href="#inbox" data-role="button" style="margin: 10px">Inbox</a></li>
        </ul>
      </div>
    </div>
  </div>
<!-- *** / HOME SCREEN ***************************************************** -->


<!-- *** DETAILS SCREEN ***************************************************** -->

  <div data-role="page" id="details" ng-controller="DetailsScreenController"> 

    <div data-role="header">
      <h2 style="height:55px;margin-top:10px;">DETAILS</h2>
      <a href="#" class="ui-btn-right" style="margin-top: 10px" date-role="button" data-icon="gear">
        Options
      </a>
      <a href="#home" class="ui-btn-left" style="margin-top: 10px" date-role="button" data-icon="back">
        Back
      </a>
    </div>

    <div data-role="content">
      <h3 >Activity: "Title"</h3>
      <form>
        <label  for="textinput-s">Comments</label>
        <input style="margin:0;"style="top:100px;" style=""type="text" name="textinput-s" id="textinput-s" 
        value="" data-clear-btn="true">
      </form>
      <br>
      <br>
      <form>
        <label for="select-native-s">Atmosphere</label>
        <select name="select-native-s" id="select-native-s">
          <option value="outdoors">Outdoors</option>
          <option value="indoors">Indoors</option>
        </select>
      </form>
      <br />
      <br />
      <form>
        <label for="slider-s">Range(miles)</label>
        <input type="range" name="slider-s" id="slider-s" value="10" min="1" max="50" data-highlight="true">
      </form>
    </div>

    <div data-role="footer">
    </div>

  </div>

<!-- *** / DETAILS SCREEN ***************************************************** -->

<!-- *** CREATE BEACON SCREEN ***************************************************** -->

  <div data-role="page" id="create" ng-controller="CreateBeaconController">

    <div data-role="header">
    </div>

    <!--Fill in activity, location, picture & misc -->
    <div data-role="content">
      <h4>Beacon Sent<h4>
      <a href="#home" data-role="button">Return</a>
    </div>

    <div data-role="footer">
    </div>

  </div>

<!-- *** / CREATE BEACON SCREEN ***************************************************** -->


<!-- *** BEACON FOUND SCREEN ***************************************************** -->

  <div data-role="page" id="found" ng-controller="BeaconFoundController">

    <div data-role="header">
    </div>

    <div data-role="content">
      <h4>Beacon Found!<h4>
      <p>"person" and "number" wants to do "activity".</p>
      <a href="#home" data-role="button">Sure!</a>
      <a href="#home" data-role="button">No Thanks!</a>
    </div>

    <div data-role="footer">
    </div>

  </div>

<!-- *** / BEACON FOUND SCREEN ***************************************************** -->


<!-- *** BEACON JOIN SCREEN ***************************************************** -->

  <div data-role="page" id="join" ng-controller="BeaconJoinController">

    <div data-role="header">
    </div>

    <div data-role="content">
      <h4>Beacon Connected<h4>
      <p>Would you like to join" in "activity", from "distance" miles away.</p>
      <a href="#home" data-role="button">Sure!</a>
      <a href="#home" data-role="button">No Thanks!</a>
    </div>

    <div data-role="footer">
    </div>

  </div>

<!-- *** / BEACON JOIN SCREEN ***************************************************** -->

<!-- *** INBOX SCREEN ***************************************************** -->

  <div data-role="page" id="inbox" ng-controller="InboxScreenController">

    <div data-role="content">
      <ul class="activities-list" data-role="listview" data-inset="true" data-filter="false" data-input="#activities-filter">
        <!-- ???list will be added by server??? -->
        <!-- suggested activities to user -->
        <li><a href="#popupDialog" data-rel="popup">Archery (p:18 d:5)</a></li>
        <li><a href="#popupDialog" data-rel="popup">Hacking (p:100 d:1)</a></li>
        <li><a href="#popupDialog" data-rel="popup">Coitus (p:1 d:1000 c:50)</a></li>
      </ul>
      <!--
      <form>
        <label for="slider-s">Range(miles)</label>
        <input type="range" name="slider-s" id="slider-s" value="10" min="1" max="50" data-highlight="true">
      </form>
      -->
      <br>
    </div>

    <div data-role="popup" id="popupDialog" data-overlay-theme="b" data-theme="b" data-dismissible="false" style="max-width:400px;">
        <div data-role="header" data-theme="a">
        </div>
        <div role="main" class="ui-content">
            <h3 class="ui-title">Do want to confirm?</h3>
            <a href="#" class="ui-btn ui-corner-all ui-shadow ui-btn-inline ui-btn-b" data-rel="back">Connect</a>
            <a href="#" class="ui-btn ui-corner-all ui-shadow ui-btn-inline ui-btn-b" data-rel="back">Skip</a>
        </div>
    </div>

    <div data-role="footer">
      <!-- options -->
      <div data-role="navbar">
        <ul>
          <li><a href="#home" data-role="button">Home</a></li>
        </ul>
      </div>
    </div>
  </div>

<!-- *** / INBOX SCREEN ***************************************************** -->

    <!-- Angular Stuff -->
    <script src="scripts/app.js"></script>
    <script src="scripts/controllers.js"></script>
    <script src="scripts/services.js"></script>

</body>
</html>
